body {
    margin: 0;
    min-width: 300px;
}

@font-face {
    font-family: Philosopher;
    src: url('../assets/Philosopher-Regular.ttf');
}

button:focus {
    outline:0;
}

@media (max-width: 418px) {
    * {
        font-size: 14px !important;
    }
}